/* BODY */

/*APLICACION GENERAL DE MARGENES Y PADDING*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* APLICACION A TODO EL CUERPO DE LA PAGINA */
body { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    background-color: bisque;
}

/*ENCABEZADO*/

.contenedor-encabezado { /* Con esta clase se da estilo a los elementos que contiene el encabezado, en este caso el H1 y el div */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: brown;
    color:rgb(255, 255, 255);
    padding: 20px;
    text-align: left;
}

header p {
    font-style: italic;
}

/* NAV */
nav {
    display: flex;
    flex-direction: row-reverse;

}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px; /* Propiedad que separa elementos*/
}

nav li {
    background-color: antiquewhite;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none; /* Saca el subrayado del link */
    padding: 10px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color:brown;
    transition: color 0.3s ease; /* Cambia de color en una transicion configurada, 3 segundos */
}

/* EFECTO ESPECIAL PARA PASAR EL CURSOR SOBRE EL LINK Y QUE CAMBIE AL FORMATO ESTABLECIDO*/
nav li a:hover {
    color:rgb(255, 188, 87);
    
}
/* CONTENIDO PRINCIPAL */

main {
    padding: 20px;
}

section h3 {
    color: black;
}

section ol {
    display: grid;
    list-style: none;
}

section ol li {
    background-color:beige;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

section ol li img {
    border-radius: 10px;
    margin-top: 10px;
}


/* FOOTER */

footer {
    background-color: #333;
    color: aliceblue;
    text-align: center;
    padding: 10px;
}